@inject IActivityDefinitionService ActivityDefinitionService

<h3>@definitionSetName Activities</h3>

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="ActivityDefinition" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private CGrid<ActivityDefinition> _grid;
    private Task _task;
    public string definitionSetName = "Default";

    protected override async Task OnParametersSetAsync()
    {
        var query = new QueryDictionary<StringValues>();
        var client = new GridClient<ActivityDefinition>(q => ActivityDefinitionService.GetActivityDefinitionsGridRows(
            ColumnCollections.ActivityDefinitionColumns, q), query, false, "activityDefinitionsGrid",
            ColumnCollections.ActivityDefinitionColumns)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount("Number of Activities");

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

}
