@using GridShared.Columns
@implements ICustomGridComponent<IActivityBlock>

<div class="dropzone @dropClass"
     ondragover="event.preventDefault();"
     @ondrop="HandleDrop"
     @ondragenter="HandleDragEnter"
     @ondragleave="HandleDragLeave">
    @BlockId
</div>

@code {
    [Parameter]
    public IActivityBlock Item { get; set; }

    private string BlockId { 
        get 
        { 
            int blockId = Item.TimeSlot + 1;
            return blockId.ToString();
        } 
    }

    private string dropClass;

    private void HandleDragEnter()
    {
        {
            dropClass = "can-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";
    }
}
