@page "/"

<h1>Activity Scheduler Tool</h1>

<p>
    Generate a new schedule from the <a href="create-schedule">Create a Schedule</a> page.
    Select a camper request file and activity definition set and click schedule to generate a new schedule.
    By default the new schedule is labelled with today's date but the schedule name can be changed before
    generating the schedule.
</p>

<p>
    The <a href="activity-schedule">Activity Schedules</a> page displays each activity and time slot
    and the set of campers in that activity/time slot. Campers can be dragged from one activity/timeslot to another
    within the same time slot.
    The number of campers count is colored yellow when the number of campers is more than the optimal
    number but less than the maximum. The number of campers count is red when the number of campers is
    more than the maximum or less than the minimum.
    The activity and time slot columns are sortable to make it easier to move campers between activity/time slots.
</p>

<p>
    The <a href="camper-schedule">Camper Schedules</a> page displays each campers when their
    activity in each time slot.
</p>

<p>
    The <a href="activities">Activity Definitions</a> page is used to create new activity
    definition set or change the limits on an existing activity definition set.
</p>
