@page "/activities"

@using System.IO;
@inject IFileReaderService fileReaderService;
@inject IJSRuntime  JSRuntime

<h2>Manage Activity Definitions</h2>

<ActivitySetSelector @bind-CurrentActivitySet="ActivitySet" />
<p>Button to create an empty activity set</p>
<p>Button to copy the current activity set</p>
<p>Button to delete the currently selected activity set</p>
<p>Import into the current activity set</p>
<p>Export the current activity set</p>

<hr />
<ActivityDefinitionsGrid ActivitySet=@ActivitySet />
<hr />

<p>
    Read from Activity definition file -
    <input type="file" @ref=_activityDefinitionFileElement accept=".xml" />
</p>
<button @onclick=ReadFile>Read file</button>
<hr />
<textarea style="max-width: 100%;" cols="60" rows="20">@_output</textarea>
<hr />
<p>
    Write to Activity definition file -
    <input @bind="_fileName" />
</p>
<button @onclick="DownloadFile">Download file</button>

@code {
    public string ActivitySet { get; 
        set; }

    ElementReference _activityDefinitionFileElement;
    string _output { get; set; }
    string _fileName = "DefaultActivity.xml";
    List<ActivityDefinition> _activityDefinitions = new List<ActivityDefinition>();

    protected override void OnInitialized()
    {
        // TODO: Pull from some persistence - perhaps a cookie?
        ActivitySet = "default";
        _fileName = $"{ActivitySet}.xml";
        base.OnInitialized();
    }

    public async Task ReadFile()
    {
        _output = String.Empty;
        foreach (var file in await fileReaderService.CreateReference(_activityDefinitionFileElement).EnumerateFilesAsync())
        {
            // Read into buffer and act (uses less memory)
            using (Stream stream = await file.OpenReadAsync())
            {
                StreamReader reader = new StreamReader(stream);
                string contents = await reader.ReadToEndAsync();

                _activityDefinitions =
                    ActivityDefinition.ReadActivityDefinitionsFromString(contents);
                _output += $"Found {_activityDefinitions.Count} activity definitions";
            }
        }
    }

    public async void DownloadFile()
    {
        // Blazor native does not currently support downloading a file to the client
        // so use a Javascript function.
        await JSRuntime.InvokeAsync<object>(
            "FileSaveAs", _fileName,
            ActivityDefinition.WriteActivityDefinitionsToString(_activityDefinitions));
    }
}
