@page "/schedule"

<h3>RunScheduler</h3>

@using System.IO;
@using System.Text;
@inject IFileReaderService fileReaderService;
@inject IJSRuntime  JSRuntime
@inject ILocalStorageService localStorage
@inject IActivityDefinitionService activityService

<ActivitySetSelector @bind-CurrentActivitySet="ActivitySet" />
<p>
    Select camper requests CSV file -
    <input type="file" @ref=camperRequestsFileElement accept=".csv" />
</p>
<button @onclick=ScheduleCampers>Generate Schedule</button>
<hr />
<textarea style="max-width: 100%;" cols="60" rows="20">@output</textarea>
<hr />

@code {
    /// <summary>
    /// Name of the cookie to record the activity set across pages.
    /// </summary>
    private const string ActivitySetKey = "activitySet";

    /// <summary>
    /// Track the activity set and update the cookie for persistence across pages.
    /// </summary>
    private string _activitySet;
    public string ActivitySet
    {
        get => _activitySet;
        set
        {
            if (value != _activitySet)
            {
                _activitySet = value;
                // This cannot be async so fire and hope it gets there in time.
                localStorage.SetItemAsync(ActivitySetKey, value);
            }
        }
    }

    ElementReference camperRequestsFileElement;

    string output { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // Activity set comes from cookie if present.
        ActivitySet = await localStorage.GetItemAsync<string>(ActivitySetKey);
        if (string.IsNullOrEmpty(ActivitySet))
        {
            ActivitySet = "DefaultActivities";
        }

        await base.OnInitializedAsync();
    }

    public async Task ScheduleCampers()
    {
        output = String.Empty;
        foreach (var file in await fileReaderService.CreateReference(camperRequestsFileElement).EnumerateFilesAsync())
        {
            List<ActivityDefinition> activityDefinitions = new List<ActivityDefinition>(
                activityService.GetActivityDefinition(ActivitySet));
            // Read into buffer and act (uses less memory)
            using (Stream stream = await file.OpenReadAsync())
            {
                // Need to copy into string stream so a sync read can be used with CSV reader
                StreamReader reader = new StreamReader(stream);
                string contents = await reader.ReadToEndAsync();
                byte[] encodedContents = Encoding.ASCII.GetBytes(contents);
                MemoryStream memoryStream = new MemoryStream(encodedContents);

                List<CamperRequests> camperRequests = CamperRequests.ReadCamperRequests(memoryStream, activityDefinitions);

                output += $"Loaded {camperRequests.Count} camper requests";
            }
        }
    }
}
