@page "/schedule"

<h3>RunScheduler</h3>

@using System.IO;
@inject IFileReaderService fileReaderService;
@inject IJSRuntime  JSRuntime

<p>
    Select camper requests CSV file -
    <input type="file" @ref=camperRequestsFileElement accept=".csv" />
</p>
<button @onclick=ReadFile>Read file</button>
<hr />
<textarea style="max-width: 100%;" cols="60" rows="20">@output</textarea>
<hr />

@code {
    ElementReference camperRequestsFileElement;

    string output { get; set; }

    public async Task ReadFile()
    {
        output = String.Empty;
        foreach (var file in await fileReaderService.CreateReference(camperRequestsFileElement).EnumerateFilesAsync())
        {
            // Read into buffer and act (uses less memory)
            using (Stream stream = await file.OpenReadAsync())
            {
                StreamReader reader = new StreamReader(stream);
                string contents = await reader.ReadToEndAsync();
                output += $"{contents}";
            }
        }
    }
}
